In [6]:
import random
import numpy as np
import pandas as pd

In [7]:
import warnings
warnings.filterwarnings("ignore")

In [31]:
# Cargar el archivo CSV
df = pd.read_csv(r'C:\Users\Danny\Desktop\NBA_database\csv\game_info.csv')
df.head()

    game_id            game_date  attendance game_time
0  24600001  1946-11-01 00:00:00         NaN       NaN
1  24600003  1946-11-02 00:00:00         NaN       NaN
2  24600002  1946-11-02 00:00:00         NaN       NaN
3  24600004  1946-11-02 00:00:00         NaN       NaN
4  24600005  1946-11-02 00:00:00         NaN       NaN

In [32]:
df.shape

(58053, 4)

In [33]:
# Verificar valores nulos
print("\nValores nulos en el DataFrame:")
print(df.isnull().sum())

Valores nulos en el DataFrame:
game_id           0
game_date         0
attendance     5380
game_time     28111
dtype: int64

In [34]:
import pandas as pd
# Mostrar las primeras filas del DataFrame
print("Primeras filas del DataFrame:")
print(df.head())

# Eliminar la columna 'game_time' ya que está completamente vacía
df.drop(columns=['game_time'], inplace=True)

# Opciones para manejar la columna 'attendance'

# Opción 1: Imputar valores faltantes con la media (si decides hacerlo)
df['attendance'].fillna(df['attendance'].mean(), inplace=True)

# Opción 2: Eliminar la columna 'attendance' si no es crucial
# df.drop(columns=['attendance'], inplace=True)

# Opción 3: Mantener los valores nulos y manejarlos durante el análisis
# No se requiere ninguna acción adicional aquí

# Mostrar el DataFrame después de las modificaciones
print("\nDataFrame después de las modificaciones:")
print(df.head())
print("\nInformación general del DataFrame después de las modificaciones:")
print(df.info())

Primeras filas del DataFrame:
    game_id            game_date  attendance game_time
0  24600001  1946-11-01 00:00:00         NaN       NaN
1  24600003  1946-11-02 00:00:00         NaN       NaN
2  24600002  1946-11-02 00:00:00         NaN       NaN
3  24600004  1946-11-02 00:00:00         NaN       NaN
4  24600005  1946-11-02 00:00:00         NaN       NaN

DataFrame después de las modificaciones:
    game_id            game_date    attendance
0  24600001  1946-11-01 00:00:00  15097.689158
1  24600003  1946-11-02 00:00:00  15097.689158
2  24600002  1946-11-02 00:00:00  15097.689158
3  24600004  1946-11-02 00:00:00  15097.689158
4  24600005  1946-11-02 00:00:00  15097.689158

Información general del DataFrame después de las modificaciones:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58053 entries, 0 to 58052
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   game_id     58053 non-null  int64
 1   game_date   58053 non-null  object
 2   attendance  58053 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ MB
None

In [37]:
df['attendance'].fillna(df['attendance'].mean(), inplace=True)

In [38]:
df.head()

    game_id            game_date    attendance
0  24600001  1946-11-01 00:00:00  15097.689158
1  24600003  1946-11-02 00:00:00  15097.689158
2  24600002  1946-11-02 00:00:00  15097.689158
3  24600004  1946-11-02 00:00:00  15097.689158
4  24600005  1946-11-02 00:00:00  15097.689158

In [51]:
df.to_csv('game_info_optimizada.csv', index=False)

In [52]:

df = pd.read_csv(r'C:\Users\Danny\Desktop\NBA_database\csv\game_info_optimizada.csv')
df.head()

    game_id            game_date  attendance
0  24600001  1946-11-01 00:00:00     15097.7
1  24600003  1946-11-02 00:00:00     15097.7
2  24600002  1946-11-02 00:00:00     15097.7
3  24600004  1946-11-02 00:00:00     15097.7
4  24600005  1946-11-02 00:00:00     15097.7

In [53]:
import pandas as pd

# Mostrar las primeras filas del DataFrame
print("Primeras filas del DataFrame:")
print(df.head())

# Verificar la imputación de valores en la columna 'attendance'
print("\nValores únicos en la columna 'attendance':")
print(df['attendance'].unique())

# Redondear los valores de la columna 'attendance' a un decimal
df['attendance'] = df['attendance'].round(1)

# Mostrar el DataFrame después de las modificaciones
print("\nDataFrame después de las modificaciones:")
print(df.head())
print("\nInformación general del DataFrame después de las modificaciones:")
print(df.info())

Primeras filas del DataFrame:
    game_id            game_date  attendance
0  24600001  1946-11-01 00:00:00     15097.7
1  24600003  1946-11-02 00:00:00     15097.7
2  24600002  1946-11-02 00:00:00     15097.7
3  24600004  1946-11-02 00:00:00     15097.7
4  24600005  1946-11-02 00:00:00     15097.7

Valores únicos en la columna 'attendance':
[15097.7  2206.   8273.  ... 20913.  19762.  21264. ]

DataFrame después de las modificaciones:
    game_id            game_date  attendance
0  24600001  1946-11-01 00:00:00     15097.7
1  24600003  1946-11-02 00:00:00     15097.7
2  24600002  1946-11-02 00:00:00     15097.7
3  24600004  1946-11-02 00:00:00     15097.7
4  24600005  1946-11-02 00:00:00     15097.7

Información general del DataFrame después de las modificaciones:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58053 entries, 0 to 58052
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   game_id     58053 non-null  int64
 1   game_date   58053 non-null  object
 2   attendance  58053 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ MB
None

In [17]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\danny\appdata\local\programs\python\python313\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\danny\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.1.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\danny\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\danny\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\danny\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [54]:
import pandas as pd
from sklearn.impute import KNNImputer

# Cargar el archivo CSV
df = pd.read_csv(r'C:\Users\Danny\Desktop\NBA_database\csv\game_info_optimizada.csv')

# Definir las columnas que se van a imputar
columns_to_impute = ['attendance']

# Crear un DataFrame solo con las columnas a imputar
df_impute = df[columns_to_impute]

# Imputar valores faltantes utilizando KNNImputer
imputer = KNNImputer(n_neighbors=5)
df_imputed = imputer.fit_transform(df_impute)

# Convertir el resultado a un DataFrame
df_imputed = pd.DataFrame(df_imputed, columns=columns_to_impute)

# Reemplazar la columna 'attendance' en el DataFrame original
df['attendance'] = df_imputed['attendance']

# Redondear los valores de la columna 'attendance' a un decimal
df['attendance'] = df['attendance'].round(1)

# Mostrar el DataFrame después de la imputación
print("\nDataFrame después de la imputación con KNNImputer:")
print(df.head())

DataFrame después de la imputación con KNNImputer:
    game_id            game_date  attendance
0  24600001  1946-11-01 00:00:00     15097.7
1  24600003  1946-11-02 00:00:00     15097.7
2  24600002  1946-11-02 00:00:00     15097.7
3  24600004  1946-11-02 00:00:00     15097.7
4  24600005  1946-11-02 00:00:00     15097.7

In [55]:
df.head()

    game_id            game_date  attendance
0  24600001  1946-11-01 00:00:00     15097.7
1  24600003  1946-11-02 00:00:00     15097.7
2  24600002  1946-11-02 00:00:00     15097.7
3  24600004  1946-11-02 00:00:00     15097.7
4  24600005  1946-11-02 00:00:00     15097.7

In [57]:
df = pd.read_csv(r'C:\Users\Danny\Desktop\NBA_database\csv\game_info_optimizada.csv')
df.head()

    game_id            game_date  attendance
0  24600001  1946-11-01 00:00:00     15097.7
1  24600003  1946-11-02 00:00:00     15097.7
2  24600002  1946-11-02 00:00:00     15097.7
3  24600004  1946-11-02 00:00:00     15097.7
4  24600005  1946-11-02 00:00:00     15097.7

In [59]:
import pandas as pd

# Cargar el archivo CSV
df = pd.read_csv(r'C:\Users\Danny\Desktop\NBA_database\csv\game_info_optimizada.csv')

# Mostrar las primeras filas del DataFrame
print("Primeras filas del DataFrame:")
print(df.head())

# Obtener información general del DataFrame
print("\nInformación general del DataFrame:")
print(df.info())

# Verificar valores nulos
print("\nValores nulos en el DataFrame:")
print(df.isnull().sum())

# Describir las estadísticas básicas de las columnas numéricas
print("\nEstadísticas descriptivas de las columnas numéricas:")
print(df.describe())

# Verificar los valores únicos en la columna 'attendance'
print("\nValores únicos en la columna 'attendance':")
print(df['attendance'].unique())

# Redondear los valores de la columna 'attendance' a un decimal
df['attendance'] = df['attendance'].round(1)

# Mostrar el DataFrame después de las modificaciones
print("\nDataFrame después de las modificaciones:")
print(df.head())
print("\nInformación general del DataFrame después de las modificaciones:")
print(df.info())

Primeras filas del DataFrame:
    game_id            game_date  attendance
0  24600001  1946-11-01 00:00:00     15097.7
1  24600003  1946-11-02 00:00:00     15097.7
2  24600002  1946-11-02 00:00:00     15097.7
3  24600004  1946-11-02 00:00:00     15097.7
4  24600005  1946-11-02 00:00:00     15097.7

Información general del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58053 entries, 0 to 58052
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   game_id     58053 non-null  int64
 1   game_date   58053 non-null  object
 2   attendance  58053 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ MB
None

Valores nulos en el DataFrame:
game_id       0
game_date     0
attendance    0
dtype: int64

Estadísticas descriptivas de las columnas numéricas:
            game_id     attendance
count  5.805300e+04   58053.000000
mean   2.579790e+07   15097.690162
std    6.331314e+06    4898.562255
min    1.050000e+07       0.000000
25%    2.130028e+07   12671.000000
50%    2.590030e+07   15396.000000
75%    2.880075e+07   18517.000000
max    4.980009e+07  200049.000000

Valores únicos en la columna 'attendance':
[15097.7  2206.   8273.  ... 20913.  19762.  21264. ]

DataFrame después de las modificaciones:
    game_id            game_date  attendance
0  24600001  1946-11-01 00:00:00     15097.7
1  24600003  1946-11-02 00:00:00     15097.7
2  24600002  1946-11-02 00:00:00     15097.7
3  24600004  1946-11-02 00:00:00     15097.7
4  24600005  1946-11-02 00:00:00     15097.7

Información general del DataFrame después de las modificaciones:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58053 entries, 0 to 58052
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   game_id     58053 non-null  int64
 1   game_date   58053 non-null  object
 2   attendance  58053 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ MB
None

In [60]:
import pandas as pd



# Convertir la columna 'game_date' a formato datetime
df['game_date'] = pd.to_datetime(df['game_date'])

# Convertir la columna 'game_id' a formato numérico (entero)
df['game_id'] = pd.to_numeric(df['game_id'], errors='coerce').astype('Int64')

# Convertir la columna 'attendance' a formato numérico (flotante)
df['attendance'] = pd.to_numeric(df['attendance'], errors='coerce')

# Mostrar el DataFrame después de las conversiones
print("\nDataFrame después de las conversiones:")
print(df.head())
print("\nInformación general del DataFrame después de las conversiones:")
print(df.info())

DataFrame después de las conversiones:
    game_id  game_date  attendance
0  24600001 1946-11-01     15097.7
1  24600003 1946-11-02     15097.7
2  24600002 1946-11-02     15097.7
3  24600004 1946-11-02     15097.7
4  24600005 1946-11-02     15097.7

Información general del DataFrame después de las conversiones:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58053 entries, 0 to 58052
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   game_id     58053 non-null  Int64
 1   game_date   58053 non-null  datetime64[ns]
 2   attendance  58053 non-null  float64
dtypes: Int64(1), datetime64[ns](1), float64(1)
memory usage: 1.4 MB
None

In [61]:
df.to_csv('game_info_optimizada.csv', index=False)

In [62]:
df = pd.read_csv('game_info_optimizada.csv')
df.head()

    game_id   game_date  attendance
0  24600001  1946-11-01     15097.7
1  24600003  1946-11-02     15097.7
2  24600002  1946-11-02     15097.7
3  24600004  1946-11-02     15097.7
4  24600005  1946-11-02     15097.7

In [68]:
import pandas as pd

# Cargar el archivo CSV
df = pd.read_csv(r'C:\Users\Danny\Desktop\NBA_database\csv\game_info_optimizada.csv')

# Mostrar los tipos de datos de cada columna
print("Tipos de datos de cada columna:")
print(df.dtypes)

# Mostrar las primeras filas del DataFrame para inspeccionar los datos
print("\nPrimeras filas del DataFrame:")
print(df.head())

Tipos de datos de cada columna:
game_id         int64
game_date      object
attendance    float64
dtype: object

Primeras filas del DataFrame:
    game_id   game_date  attendance
0  24600001  1946-11-01     15097.7
1  24600003  1946-11-02     15097.7
2  24600002  1946-11-02     15097.7
3  24600004  1946-11-02     15097.7
4  24600005  1946-11-02     15097.7

In [69]:
import pandas as pd

# Cargar el archivo CSV
df = pd.read_csv(r'C:\Users\Danny\Desktop\NBA_database\csv\game_info_optimizada.csv')

# Convertir la columna 'game_date' a tipo datetime
df['game_date'] = pd.to_datetime(df['game_date'])

# Mostrar los tipos de datos de cada columna después de la conversión
print("Tipos de datos de cada columna después de la conversión:")
print(df.dtypes)

# Mostrar las primeras filas del DataFrame para inspeccionar los datos
print("\nPrimeras filas del DataFrame después de la conversión:")
print(df.head())

Tipos de datos de cada columna después de la conversión:
game_id                int64
game_date     datetime64[ns]
attendance           float64
dtype: object

Primeras filas del DataFrame después de la conversión:
    game_id  game_date  attendance
0  24600001 1946-11-01     15097.7
1  24600003 1946-11-02     15097.7
2  24600002 1946-11-02     15097.7
3  24600004 1946-11-02     15097.7
4  24600005 1946-11-02     15097.7

In [97]:
df.to_csv('game_info_optimizada.csv', index=False)

.

segunda limpieza de la tabla game_summary.csv

In [107]:
# Cargar el archivo CSV
data = pd.read_csv(r'C:\Users\Danny\Desktop\NBA_database\csv\game_summary.csv')
data.head()

,game_date_est,game_sequence,game_id,game_status_id,game_status_text,gamecode,home_team_id,visitor_team_id,season,live_period,live_pc_time,natl_tv_broadcaster_abbreviation,live_period_time_bcast,wh_status
0,1946-11-01 00:00:00,NaN,24600001,3,NaN,19461101/NYKHUS,1610610035,1610612752,1946,5,NaN,NaN,Q5 -,1
1,1946-11-02 00:00:00,NaN,24600003,3,NaN,19461102/PITBOM,1610610034,1610610031,1946,4,NaN,NaN,Q4 -,1
2,1946-11-02 00:00:00,NaN,24600002,3,NaN,19461102/BOSPRO,1610610032,1610612738,1946,4,NaN,NaN,Q4 -,1
3,1946-11-02 00:00:00,NaN,24600004,3,NaN,19461102/NYKCHS,1610610025,1610612752,1946,4,NaN,NaN,Q4 -,1
4,1946-11-02 00:00:00,NaN,24600005,3,NaN,19461102/WASDEF,1610610028,1610610036,1946,4,NaN,NaN,Q4 -,1

In [102]:
data.shape

(58110, 14)

In [109]:

data = pd.read_csv(r'C:\Users\Danny\Desktop\NBA_database\csv\game_summary.csv')
data.head()


# Eliminar columnas innecesarias
data = data.drop(columns=['game_sequence', 'live_pc_time', 'natl_tv_broadcaster_abbreviation', 'live_period_time_bcast'])

# Rellenar valores faltantes (en este caso, con un valor por defecto o eliminando filas)
data = data.fillna({'game_status_text': 'Unknown'})

# Convertir tipos de datos
data['game_date_est'] = pd.to_datetime(data['game_date_est'])
data['game_id'] = data['game_id'].astype(int)
data['home_team_id'] = data['home_team_id'].astype(int)
data['visitor_team_id'] = data['visitor_team_id'].astype(int)
data['season'] = data['season'].astype(int)
data['live_period'] = data['live_period'].astype(int)
data['wh_status'] = data['wh_status'].astype(int)

# Renombrar columnas
data = data.rename(columns={
    'game_date_est': 'game_date',
    'game_status_id': 'status_id',
    'game_status_text': 'status_text',
    'gamecode': 'game_code',
    'home_team_id': 'home_team',
    'visitor_team_id': 'visitor_team',
    'live_period': 'period',
    'wh_status': 'whistle_status'
})

# Eliminar duplicados
data = data.drop_duplicates()

In [110]:
data.head()

,game_date,game_id,status_id,status_text,game_code,home_team,visitor_team,season,period,whistle_status
0,1946-11-01,24600001,3,Unknown,19461101/NYKHUS,1610610035,1610612752,1946,5,1
1,1946-11-02,24600003,3,Unknown,19461102/PITBOM,1610610034,1610610031,1946,4,1
2,1946-11-02,24600002,3,Unknown,19461102/BOSPRO,1610610032,1610612738,1946,4,1
3,1946-11-02,24600004,3,Unknown,19461102/NYKCHS,1610610025,1610612752,1946,4,1
4,1946-11-02,24600005,3,Unknown,19461102/WASDEF,1610610028,1610610036,1946,4,1

In [105]:
data.shape

(58021, 10)

In [115]:
data.to_csv("game_summary_optimizada.csv", index=False)

.

In [116]:
import pandas as pd

# Cargar el archivo CSV
file_path = r'c:/Users/Danny/Desktop/NBA_database/csv/game_summary_optimizada.csv'
data = pd.read_csv(file_path)

# Mostrar las primeras filas del DataFrame
print("Primeras filas del DataFrame:")
print(data.head())

# Mostrar información general del DataFrame
print("\nInformación general del DataFrame:")
print(data.info())

# Mostrar estadísticas descriptivas
print("\nEstadísticas descriptivas:")
print(data.describe())

# Verificar valores únicos en columnas clave
print("\nValores únicos en columnas clave:")
print("status_id:", data['status_id'].unique())
print("season:", data['season'].unique())
print("period:", data['period'].unique())
print("whistle_status:", data['whistle_status'].unique())

# Verificar si hay valores faltantes
print("\nValores faltantes por columna:")
print(data.isnull().sum())

# Verificar duplicados
print("\nNúmero de filas duplicadas:")
print(data.duplicated().sum())

# Verificar tipos de datos
print("\nTipos de datos:")
print(data.dtypes)

# Verificar integridad referencial (ejemplo con equipos)
# Aquí asumimos que tienes un DataFrame `teams` con los IDs de los equipos válidos
# teams = pd.read_csv('path_to_teams_csv')
# print("\nVerificar integridad referencial de home_team:")
# print(data[~data['home_team'].isin(teams['team_id'])])
# print("\nVerificar integridad referencial de visitor_team:")
# print(data[~data['visitor_team'].isin(teams['team_id'])])

print("\nAnálisis completado.")

Primeras filas del DataFrame:
             game_date   game_id  status_id status_text        game_code  \
0  1946-11-01 00:00:00  24600001          3     Unknown  19461101/NYKHUS
1  1946-11-02 00:00:00  24600003          3     Unknown  19461102/PITBOM
2  1946-11-02 00:00:00  24600002          3     Unknown  19461102/BOSPRO
3  1946-11-02 00:00:00  24600004          3     Unknown  19461102/NYKCHS
4  1946-11-02 00:00:00  24600005          3     Unknown  19461102/WASDEF

    home_team  visitor_team  season  period  whistle_status
0  1610610035    1610612752    1946       5               1
1  1610610034    1610610031    1946       4               1
2  1610610032    1610612738    1946       4               1
3  1610610025    1610612752    1946       4               1
4  1610610028    1610610036    1946       4               1

Información general del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58021 entries, 0 to 58020
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   game_date       58021 non-null  object
 1   game_id         58021 non-null  int64
 2   status_id       58021 non-null  int64
 3   status_text     58021 non-null  object
 4   game_code       58021 non-null  object
 5   home_team       58021 non-null  int64
 6   visitor_team    58021 non-null  int64
 7   season          58021 non-null  int64
 8   period          58021 non-null  int64
 9   whistle_status  58021 non-null  int64
dtypes: int64(7), object(3)
memory usage: 4.4+ MB
None

Estadísticas descriptivas:
            game_id     status_id     home_team  visitor_team       season  \
count  5.802100e+04  58021.000000  5.802100e+04  5.802100e+04  58021.00000
mean   2.578919e+07      2.996725  1.609863e+09  1.608836e+09   1994.53410
std    6.330049e+06      0.080862  3.473603e+07  5.346256e+07     19.13046
min    1.050000e+07      1.000000  4.500000e+01  4.100000e+01   1946.00000
25%    2.130026e+07      3.000000  1.610613e+09  1.610613e+09   1982.00000
50%    2.590027e+07      3.000000  1.610613e+09  1.610613e+09   1997.00000
75%    2.880072e+07      3.000000  1.610613e+09  1.610613e+09   2010.00000
max    4.980009e+07      3.000000  1.610617e+09  1.610617e+09   2022.00000

             period  whistle_status
count  58021.000000         58021.0
mean       4.055652             1.0
std        0.360189             0.0
min        0.000000             1.0
25%        4.000000             1.0
50%        4.000000             1.0
75%        4.000000             1.0
max        9.000000             1.0

Valores únicos en columnas clave:
status_id: [3 1]
season: [1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959
 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973
 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016 2017 2018 2019 2020 2021 2022]
period: [5 4 6 8 7 0 9 3 2]
whistle_status: [1]

Valores faltantes por columna:
game_date         0
game_id           0
status_id         0
status_text       0
game_code         0
home_team         0
visitor_team      0
season            0
period            0
whistle_status    0
dtype: int64

Número de filas duplicadas:
0

Tipos de datos:
game_date         object
game_id            int64
status_id          int64
status_text       object
game_code         object
home_team          int64
visitor_team       int64
season             int64
period             int64
whistle_status     int64
dtype: object

Análisis completado.

In [119]:
import pandas as pd

# Cargar el archivo CSV
file_path = 'c:/Users/Danny/Desktop/NBA_database/csv/game_summary_optimizada.csv'
data = pd.read_csv(file_path)

# Convertir game_date a datetime, manejando errores
data['game_date'] = pd.to_datetime(data['game_date'], errors='coerce')

# Verificar si hay valores NaT después de la conversión
invalid_dates = data[data['game_date'].isna()]
if not invalid_dates.empty:
    print("Fechas inválidas encontradas:")
    print(invalid_dates)

# Opcional: Eliminar filas con fechas inválidas
data = data.dropna(subset=['game_date'])

# Verificar integridad referencial (ejemplo con equipos)
# teams = pd.read_csv('path_to_teams_csv')
# invalid_home_teams = data[~data['home_team'].isin(teams['team_id'])]
# invalid_visitor_teams = data[~data['visitor_team'].isin(teams['team_id'])]

# print("Equipos locales inválidos:")
# print(invalid_home_teams)

# print("Equipos visitantes inválidos:")
# print(invalid_visitor_teams)

# Guardar el DataFrame normalizado en un nuevo archivo CSV
normalized_file_path = 'c:/Users/Danny/Desktop/NBA_database/csv/normalized_game_summary.csv'
data.to_csv(normalized_file_path, index=False)

print("Archivo normalizado guardado en:", normalized_file_path)

Fechas inválidas encontradas:
      game_date   game_id  status_id status_text        game_code   home_team  \
10000       NaT  27700458          3     Unknown  19780118/BUFDET  1610612765
10001       NaT  27700459          3     Unknown  19780118/PHLKCK  1610612758
10002       NaT  27700466          3     Unknown  19780119/PHLCLE  1610612739
10003       NaT  27700467          3     Unknown  19780119/CHIATL  1610612737
10004       NaT  27700464          3     Unknown  19780119/NYKPHX  1610612756
...         ...       ...        ...         ...              ...         ...
58016       NaT  42200402          3       Final  20230604/MIADEN  1610612743
58017       NaT  42200403          3       Final  20230607/DENMIA  1610612748
58018       NaT  42200404          3       Final  20230609/DENMIA  1610612748
58019       NaT  42200405          3       Final  20230612/MIADEN  1610612743
58020       NaT  32200001          3       Final  20230219/GNSLBN  1610616834

       visitor_team  season  period  whistle_status
10000    1610612746    1977       4               1
10001    1610612755    1977       4               1
10002    1610612755    1977       4               1
10003    1610612741    1977       4               1
10004    1610612752    1977       4               1
...             ...     ...     ...             ...
58016    1610612748    2022       4               1
58017    1610612743    2022       4               1
58018    1610612743    2022       4               1
58019    1610612748    2022       4               1
58020    1610616833    2022       4               1

[48021 rows x 10 columns]
Archivo normalizado guardado en: c:/Users/Danny/Desktop/NBA_database/csv/normalized_game_summary.csv

In [120]:
import pandas as pd

# Cargar el archivo CSV
file_path = 'c:/Users/Danny/Desktop/NBA_database/csv/game_summary_optimizada.csv'
data = pd.read_csv(file_path)

# Verificar tipos de datos iniciales
print("Tipos de datos iniciales:")
print(data.dtypes)

# Convertir game_date a datetime, manejando errores
data['game_date'] = pd.to_datetime(data['game_date'], errors='coerce')

# Convertir columnas a tipos de datos adecuados
data['game_id'] = data['game_id'].astype(int)
data['status_id'] = data['status_id'].astype(int)
data['home_team'] = data['home_team'].astype(int)
data['visitor_team'] = data['visitor_team'].astype(int)
data['season'] = data['season'].astype(int)
data['period'] = data['period'].astype(int)
data['whistle_status'] = data['whistle_status'].astype(int)

# Verificar si hay valores NaT después de la conversión de fechas
invalid_dates = data[data['game_date'].isna()]
if not invalid_dates.empty:
    print("Fechas inválidas encontradas:")
    print(invalid_dates)

# Opcional: Eliminar filas con fechas inválidas
data = data.dropna(subset=['game_date'])

# Verificar tipos de datos después de la conversión
print("\nTipos de datos después de la conversión:")
print(data.dtypes)

# Guardar el DataFrame normalizado en un nuevo archivo CSV
normalized_file_path = 'c:/Users/Danny/Desktop/NBA_database/csv/normalized_game_summary.csv'
data.to_csv(normalized_file_path, index=False)

Tipos de datos iniciales:
game_date         object
game_id            int64
status_id          int64
status_text       object
game_code         object
home_team          int64
visitor_team       int64
season             int64
period             int64
whistle_status     int64
dtype: object
Fechas inválidas encontradas:
      game_date   game_id  status_id status_text        game_code   home_team  \
10000       NaT  27700458          3     Unknown  19780118/BUFDET  1610612765
10001       NaT  27700459          3     Unknown  19780118/PHLKCK  1610612758
10002       NaT  27700466          3     Unknown  19780119/PHLCLE  1610612739
10003       NaT  27700467          3     Unknown  19780119/CHIATL  1610612737
10004       NaT  27700464          3     Unknown  19780119/NYKPHX  1610612756
...         ...       ...        ...         ...              ...         ...
58016       NaT  42200402          3       Final  20230604/MIADEN  1610612743
58017       NaT  42200403          3       Final  20230607/DENMIA  1610612748
58018       NaT  42200404          3       Final  20230609/DENMIA  1610612748
58019       NaT  42200405          3       Final  20230612/MIADEN  1610612743
58020       NaT  32200001          3       Final  20230219/GNSLBN  1610616834

       visitor_team  season  period  whistle_status
10000    1610612746    1977       4               1
10001    1610612755    1977       4               1
10002    1610612755    1977       4               1
10003    1610612741    1977       4               1
10004    1610612752    1977       4               1
...             ...     ...     ...             ...
58016    1610612748    2022       4               1
58017    1610612743    2022       4               1
58018    1610612743    2022       4               1
58019    1610612748    2022       4               1
58020    1610616833    2022       4               1

[48021 rows x 10 columns]

Tipos de datos después de la conversión:
game_date         datetime64[ns]
game_id                    int64
status_id                  int64
status_text               object
game_code                 object
home_team                  int64
visitor_team               int64
season                     int64
period                     int64
whistle_status             int64
dtype: object

In [121]:
import pandas as pd

# Cargar el archivo CSV
file_path = 'c:/Users/Danny/Desktop/NBA_database/csv/game_summary_optimizada.csv'
data = pd.read_csv(file_path)

# Convertir game_date a datetime, manejando errores
data['game_date'] = pd.to_datetime(data['game_date'], errors='coerce')

# Verificar si hay valores NaT después de la conversión de fechas
invalid_dates = data[data['game_date'].isna()]
if not invalid_dates.empty:
    print("Fechas inválidas encontradas:")
    print(invalid_dates)

# Eliminar filas con fechas inválidas
data = data.dropna(subset=['game_date'])

# Convertir columnas a tipos de datos adecuados
data['game_id'] = data['game_id'].astype(int)
data['status_id'] = data['status_id'].astype(int)
data['home_team'] = data['home_team'].astype(int)
data['visitor_team'] = data['visitor_team'].astype(int)
data['season'] = data['season'].astype(int)
data['period'] = data['period'].astype(int)
data['whistle_status'] = data['whistle_status'].astype(int)

# Verificar tipos de datos después de la conversión
print("\nTipos de datos después de la conversión:")
print(data.dtypes)

# Guardar el DataFrame normalizado en un nuevo archivo CSV
normalized_file_path = 'c:/Users/Danny/Desktop/NBA_database/csv/normalized_game_summary.csv'
data.to_csv(normalized_file_path, index=False)

print("Archivo normalizado guardado en:", normalized_file_path)

Fechas inválidas encontradas:
      game_date   game_id  status_id status_text        game_code   home_team  \
10000       NaT  27700458          3     Unknown  19780118/BUFDET  1610612765
10001       NaT  27700459          3     Unknown  19780118/PHLKCK  1610612758
10002       NaT  27700466          3     Unknown  19780119/PHLCLE  1610612739
10003       NaT  27700467          3     Unknown  19780119/CHIATL  1610612737
10004       NaT  27700464          3     Unknown  19780119/NYKPHX  1610612756
...         ...       ...        ...         ...              ...         ...
58016       NaT  42200402          3       Final  20230604/MIADEN  1610612743
58017       NaT  42200403          3       Final  20230607/DENMIA  1610612748
58018       NaT  42200404          3       Final  20230609/DENMIA  1610612748
58019       NaT  42200405          3       Final  20230612/MIADEN  1610612743
58020       NaT  32200001          3       Final  20230219/GNSLBN  1610616834

       visitor_team  season  period  whistle_status
10000    1610612746    1977       4               1
10001    1610612755    1977       4               1
10002    1610612755    1977       4               1
10003    1610612741    1977       4               1
10004    1610612752    1977       4               1
...             ...     ...     ...             ...
58016    1610612748    2022       4               1
58017    1610612743    2022       4               1
58018    1610612743    2022       4               1
58019    1610612748    2022       4               1
58020    1610616833    2022       4               1

[48021 rows x 10 columns]

Tipos de datos después de la conversión:
game_date         datetime64[ns]
game_id                    int64
status_id                  int64
status_text               object
game_code                 object
home_team                  int64
visitor_team               int64
season                     int64
period                     int64
whistle_status             int64
dtype: object
Archivo normalizado guardado en: c:/Users/Danny/Desktop/NBA_database/csv/normalized_game_summary.csv

In [124]:
import pandas as pd

# Cargar el archivo CSV
file_path = 'c:/Users/Danny/Desktop/NBA_database/csv/game_summary_optimizada.csv'
data = pd.read_csv(file_path)

# Mostrar los primeros registros para inspeccionar los formatos de fecha
print("Primeros registros:")
print(data.head())

# Identificar los formatos de fecha únicos
unique_formats = data['game_date'].str.extract(r'(\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}|\d{4}-\d{2}-\d{2})')[0].unique()
print("\nFormatos de fecha únicos:")
print(unique_formats)

# Corregir los formatos de fecha
data['game_date'] = data['game_date'].apply(lambda x: x if len(x) == 19 else x + " 00:00:00")

# Convertir game_date a datetime, manejando errores
data['game_date'] = pd.to_datetime(data['game_date'], errors='coerce')

# Verificar si hay valores NaT después de la conversión de fechas
invalid_dates = data[data['game_date'].isna()]
if not invalid_dates.empty:
    print("\nFechas inválidas encontradas:")
    print(invalid_dates)

# Eliminar filas con fechas inválidas
data = data.dropna(subset=['game_date'])

# Convertir columnas a tipos de datos adecuados
data['game_id'] = data['game_id'].astype(int)
data['status_id'] = data['status_id'].astype(int)
data['home_team'] = data['home_team'].astype(int)
data['visitor_team'] = data['visitor_team'].astype(int)
data['season'] = data['season'].astype(int)
data['period'] = data['period'].astype(int)
data['whistle_status'] = data['whistle_status'].astype(int)

# Verificar tipos de datos después de la conversión
print("\nTipos de datos después de la conversión:")
print(data.dtypes)

# Guardar el DataFrame normalizado en un nuevo archivo CSV
normalized_file_path = 'c:/Users/Danny/Desktop/NBA_database/csv/normalized_game_summary.csv'
data.to_csv(normalized_file_path, index=False)

print("\nArchivo normalizado guardado en:", normalized_file_path)

Primeros registros:
             game_date   game_id  status_id status_text        game_code  \
0  1946-11-01 00:00:00  24600001          3     Unknown  19461101/NYKHUS
1  1946-11-02 00:00:00  24600003          3     Unknown  19461102/PITBOM
2  1946-11-02 00:00:00  24600002          3     Unknown  19461102/BOSPRO
3  1946-11-02 00:00:00  24600004          3     Unknown  19461102/NYKCHS
4  1946-11-02 00:00:00  24600005          3     Unknown  19461102/WASDEF

    home_team  visitor_team  season  period  whistle_status
0  1610610035    1610612752    1946       5               1
1  1610610034    1610610031    1946       4               1
2  1610610032    1610612738    1946       4               1
3  1610610025    1610612752    1946       4               1
4  1610610028    1610610036    1946       4               1

Formatos de fecha únicos:
['1946-11-01 00:00:00' '1946-11-02 00:00:00' '1946-11-03 00:00:00' ...
 '2023-06-09' '2023-06-12' '2023-02-19']

Tipos de datos después de la conversión:
game_date         datetime64[ns]
game_id                    int64
status_id                  int64
status_text               object
game_code                 object
home_team                  int64
visitor_team               int64
season                     int64
period                     int64
whistle_status             int64
dtype: object

Archivo normalizado guardado en: c:/Users/Danny/Desktop/NBA_database/csv/normalized_game_summary.csv

In [125]:
df = pd.read_csv(r'C:\Users\Danny\Desktop\NBA_database\csv\normalized_game_summary.csv') 
df.head()

,game_date,game_id,status_id,status_text,game_code,home_team,visitor_team,season,period,whistle_status
0,1946-11-01 00:00:00,24600001,3,Unknown,19461101/NYKHUS,1610610035,1610612752,1946,5,1
1,1946-11-02 00:00:00,24600003,3,Unknown,19461102/PITBOM,1610610034,1610610031,1946,4,1
2,1946-11-02 00:00:00,24600002,3,Unknown,19461102/BOSPRO,1610610032,1610612738,1946,4,1
3,1946-11-02 00:00:00,24600004,3,Unknown,19461102/NYKCHS,1610610025,1610612752,1946,4,1
4,1946-11-02 00:00:00,24600005,3,Unknown,19461102/WASDEF,1610610028,1610610036,1946,4,1

In [126]:
import pandas as pd

# Cargar el archivo CSV
file_path = 'c:/Users/Danny/Desktop/NBA_database/csv/game_summary_optimizada.csv'
data = pd.read_csv(file_path)

# Mostrar los primeros registros para inspeccionar los formatos de fecha
print("Primeros registros:")
print(data.head())

# Identificar los formatos de fecha únicos
unique_formats = data['game_date'].str.extract(r'(\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}|\d{4}-\d{2}-\d{2})')[0].unique()
print("\nFormatos de fecha únicos:")
print(unique_formats)

# Corregir los formatos de fecha
data['game_date'] = data['game_date'].apply(lambda x: x if len(x) == 19 else x + " 00:00:00")

# Convertir game_date a datetime, manejando errores
data['game_date'] = pd.to_datetime(data['game_date'], errors='coerce')

# Verificar si hay valores NaT después de la conversión de fechas
invalid_dates = data[data['game_date'].isna()]
if not invalid_dates.empty:
    print("\nFechas inválidas encontradas:")
    print(invalid_dates)

# Eliminar filas con fechas inválidas
data = data.dropna(subset=['game_date'])

# Convertir columnas a tipos de datos adecuados
data['game_id'] = data['game_id'].astype(int)
data['status_id'] = data['status_id'].astype(int)
data['home_team'] = data['home_team'].astype(int)
data['visitor_team'] = data['visitor_team'].astype(int)
data['season'] = data['season'].astype(int)
data['period'] = data['period'].astype(int)
data['whistle_status'] = data['whistle_status'].astype(int)

# Verificar tipos de datos después de la conversión
print("\nTipos de datos después de la conversión:")
print(data.dtypes)

# Guardar el DataFrame normalizado en un nuevo archivo CSV
normalized_file_path = 'c:/Users/Danny/Desktop/NBA_database/csv/normalized_game_summary.csv'
data.to_csv(normalized_file_path, index=False)

print("\nArchivo normalizado guardado en:", normalized_file_path)

Primeros registros:
             game_date   game_id  status_id status_text        game_code  \
0  1946-11-01 00:00:00  24600001          3     Unknown  19461101/NYKHUS
1  1946-11-02 00:00:00  24600003          3     Unknown  19461102/PITBOM
2  1946-11-02 00:00:00  24600002          3     Unknown  19461102/BOSPRO
3  1946-11-02 00:00:00  24600004          3     Unknown  19461102/NYKCHS
4  1946-11-02 00:00:00  24600005          3     Unknown  19461102/WASDEF

    home_team  visitor_team  season  period  whistle_status
0  1610610035    1610612752    1946       5               1
1  1610610034    1610610031    1946       4               1
2  1610610032    1610612738    1946       4               1
3  1610610025    1610612752    1946       4               1
4  1610610028    1610610036    1946       4               1

Formatos de fecha únicos:
['1946-11-01 00:00:00' '1946-11-02 00:00:00' '1946-11-03 00:00:00' ...
 '2023-06-09' '2023-06-12' '2023-02-19']

Tipos de datos después de la conversión:
game_date         datetime64[ns]
game_id                    int64
status_id                  int64
status_text               object
game_code                 object
home_team                  int64
visitor_team               int64
season                     int64
period                     int64
whistle_status             int64
dtype: object

Archivo normalizado guardado en: c:/Users/Danny/Desktop/NBA_database/csv/normalized_game_summary.csv

In [127]:
import pandas as pd

# Cargar el archivo CSV
file_path = 'c:/Users/Danny/Desktop/NBA_database/csv/normalized_game_summary.csv'
data = pd.read_csv(file_path)

# Corregir los formatos de fecha
data['game_date'] = data['game_date'].apply(lambda x: x if len(x) == 19 else x + " 00:00:00")

# Convertir game_date a datetime, manejando errores
data['game_date'] = pd.to_datetime(data['game_date'], errors='coerce')

# Verificar si hay valores NaT después de la conversión de fechas
invalid_dates = data[data['game_date'].isna()]
if not invalid_dates.empty:
    print("Fechas inválidas encontradas:")
    print(invalid_dates)

# Eliminar filas con fechas inválidas
data = data.dropna(subset=['game_date'])

# Convertir columnas a tipos de datos adecuados
data['game_id'] = data['game_id'].astype(int)
data['status_id'] = data['status_id'].astype(int)
data['home_team'] = data['home_team'].astype(int)
data['visitor_team'] = data['visitor_team'].astype(int)
data['season'] = data['season'].astype(int)
data['period'] = data['period'].astype(int)
data['whistle_status'] = data['whistle_status'].astype(int)

# Verificar tipos de datos después de la conversión
print("\nTipos de datos después de la conversión:")
print(data.dtypes)

# Verificar valores faltantes
print("\nValores faltantes por columna:")
print(data.isnull().sum())

# Verificar duplicados
print("\nNúmero de filas duplicadas:")
print(data.duplicated().sum())

# Mostrar estadísticas descriptivas
print("\nEstadísticas descriptivas:")
print(data.describe())

# Verificar valores únicos en columnas clave
print("\nValores únicos en columnas clave:")
print("status_id:", data['status_id'].unique())
print("season:", data['season'].unique())
print("period:", data['period'].unique())
print("whistle_status:", data['whistle_status'].unique())

# Verificar integridad referencial (ejemplo con equipos)
# Aquí asumimos que tienes un DataFrame `teams` con los IDs de los equipos válidos
# teams = pd.read_csv('path_to_teams_csv')
# print("\nVerificar integridad referencial de home_team:")
# print(data[~data['home_team'].isin(teams['team_id'])])
# print("\nVerificar integridad referencial de visitor_team:")
# print(data[~data['visitor_team'].isin(teams['team_id'])])

# Guardar el DataFrame normalizado en un nuevo archivo CSV
normalized_file_path = 'c:/Users/Danny/Desktop/NBA_database/csv/normalized_game_summary.csv'
data.to_csv(normalized_file_path, index=False)

print("\nArchivo normalizado guardado en:", normalized_file_path)

Tipos de datos después de la conversión:
game_date         datetime64[ns]
game_id                    int64
status_id                  int64
status_text               object
game_code                 object
home_team                  int64
visitor_team               int64
season                     int64
period                     int64
whistle_status             int64
dtype: object

Valores faltantes por columna:
game_date         0
game_id           0
status_id         0
status_text       0
game_code         0
home_team         0
visitor_team      0
season            0
period            0
whistle_status    0
dtype: int64

Número de filas duplicadas:
0

Estadísticas descriptivas:
                           game_date       game_id     status_id  \
count                          58021  5.802100e+04  58021.000000
mean   1995-08-08 08:18:26.445080064  2.578919e+07      2.996725
min              1946-11-01 00:00:00  1.050000e+07      1.000000
25%              1983-04-30 00:00:00  2.130026e+07      3.000000
50%              1998-02-18 00:00:00  2.590027e+07      3.000000
75%              2010-11-27 00:00:00  2.880072e+07      3.000000
max              2023-06-12 00:00:00  4.980009e+07      3.000000
std                              NaN  6.330049e+06      0.080862

          home_team  visitor_team       season        period  whistle_status
count  5.802100e+04  5.802100e+04  58021.00000  58021.000000         58021.0
mean   1.609863e+09  1.608836e+09   1994.53410      4.055652             1.0
min    4.500000e+01  4.100000e+01   1946.00000      0.000000             1.0
25%    1.610613e+09  1.610613e+09   1982.00000      4.000000             1.0
50%    1.610613e+09  1.610613e+09   1997.00000      4.000000             1.0
75%    1.610613e+09  1.610613e+09   2010.00000      4.000000             1.0
max    1.610617e+09  1.610617e+09   2022.00000      9.000000             1.0
std    3.473603e+07  5.346256e+07     19.13046      0.360189             0.0

Valores únicos en columnas clave:
status_id: [3 1]
season: [1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959
 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973
 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016 2017 2018 2019 2020 2021 2022]
period: [5 4 6 8 7 0 9 3 2]
whistle_status: [1]

Archivo normalizado guardado en: c:/Users/Danny/Desktop/NBA_database/csv/normalized_game_summary.csv

In [128]:

import pandas as pd

# Cargar el archivo CSV
file_path = 'c:/Users/Danny/Desktop/NBA_database/csv/normalized_game_summary.csv'
data = pd.read_csv(file_path)

# Corregir los formatos de fecha
data['game_date'] = data['game_date'].apply(lambda x: x if len(x) == 19 else x + " 00:00:00")

# Convertir game_date a datetime, manejando errores
data['game_date'] = pd.to_datetime(data['game_date'], errors='coerce')

# Verificar si hay valores NaT después de la conversión de fechas
invalid_dates = data[data['game_date'].isna()]
if not invalid_dates.empty:
    print("Fechas inválidas encontradas:")
    print(invalid_dates)

# Eliminar filas con fechas inválidas
data = data.dropna(subset=['game_date'])

# Convertir columnas a tipos de datos adecuados
data['game_id'] = data['game_id'].astype(int)
data['status_id'] = data['status_id'].astype(int)
data['home_team'] = data['home_team'].astype(int)
data['visitor_team'] = data['visitor_team'].astype(int)
data['season'] = data['season'].astype(int)
data['period'] = data['period'].astype(int)
data['whistle_status'] = data['whistle_status'].astype(int)

# Verificar tipos de datos después de la conversión
print("\nTipos de datos después de la conversión:")
print(data.dtypes)

# Verificar valores faltantes
print("\nValores faltantes por columna:")
print(data.isnull().sum())

# Verificar duplicados
print("\nNúmero de filas duplicadas:")
print(data.duplicated().sum())

# Mostrar estadísticas descriptivas
print("\nEstadísticas descriptivas:")
print(data.describe())

# Verificar valores únicos en columnas clave
print("\nValores únicos en columnas clave:")
print("status_id:", data['status_id'].unique())
print("season:", data['season'].unique())
print("period:", data['period'].unique())
print("whistle_status:", data['whistle_status'].unique())

# Verificar integridad referencial (ejemplo con equipos)
# Aquí asumimos que tienes un DataFrame `teams` con los IDs de los equipos válidos
# teams = pd.read_csv('path_to_teams_csv')
# print("\nVerificar integridad referencial de home_team:")
# print(data[~data['home_team'].isin(teams['team_id'])])
# print("\nVerificar integridad referencial de visitor_team:")
# print(data[~data['visitor_team'].isin(teams['team_id'])])

# Guardar el DataFrame normalizado en un nuevo archivo CSV
normalized_file_path = 'c:/Users/Danny/Desktop/NBA_database/csv/normalized_game_summary.csv'
data.to_csv(normalized_file_path, index=False)

print("\nArchivo normalizado guardado en:", normalized_file_path)

Tipos de datos después de la conversión:
game_date         datetime64[ns]
game_id                    int64
status_id                  int64
status_text               object
game_code                 object
home_team                  int64
visitor_team               int64
season                     int64
period                     int64
whistle_status             int64
dtype: object

Valores faltantes por columna:
game_date         0
game_id           0
status_id         0
status_text       0
game_code         0
home_team         0
visitor_team      0
season            0
period            0
whistle_status    0
dtype: int64

Número de filas duplicadas:
0

Estadísticas descriptivas:
                           game_date       game_id     status_id  \
count                          58021  5.802100e+04  58021.000000
mean   1995-08-08 08:18:26.445080064  2.578919e+07      2.996725
min              1946-11-01 00:00:00  1.050000e+07      1.000000
25%              1983-04-30 00:00:00  2.130026e+07      3.000000
50%              1998-02-18 00:00:00  2.590027e+07      3.000000
75%              2010-11-27 00:00:00  2.880072e+07      3.000000
max              2023-06-12 00:00:00  4.980009e+07      3.000000
std                              NaN  6.330049e+06      0.080862

          home_team  visitor_team       season        period  whistle_status
count  5.802100e+04  5.802100e+04  58021.00000  58021.000000         58021.0
mean   1.609863e+09  1.608836e+09   1994.53410      4.055652             1.0
min    4.500000e+01  4.100000e+01   1946.00000      0.000000             1.0
25%    1.610613e+09  1.610613e+09   1982.00000      4.000000             1.0
50%    1.610613e+09  1.610613e+09   1997.00000      4.000000             1.0
75%    1.610613e+09  1.610613e+09   2010.00000      4.000000             1.0
max    1.610617e+09  1.610617e+09   2022.00000      9.000000             1.0
std    3.473603e+07  5.346256e+07     19.13046      0.360189             0.0

Valores únicos en columnas clave:
status_id: [3 1]
season: [1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959
 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973
 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016 2017 2018 2019 2020 2021 2022]
period: [5 4 6 8 7 0 9 3 2]
whistle_status: [1]

Archivo normalizado guardado en: c:/Users/Danny/Desktop/NBA_database/csv/normalized_game_summary.csv