In [1]:
import random
import numpy as np
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [9]:
# Cargar el archivo CSV
df = pd.read_csv('team_details.csv')
df.head()

,team_id,abbreviation,nickname,yearfounded,city,arena,arenacapacity,owner,generalmanager,headcoach,dleagueaffiliation,facebook,instagram,twitter
0,1610612737,ATL,Hawks,1949.0,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Quin Snyder,College Park Skyhawks,https://www.facebook.com/hawks,https://instagram.com/atlhawks,https://twitter.com/ATLHawks
1,1610612741,CHI,Bulls,1966.0,Chicago,United Center,21711.0,Michael Reinsdorf,Arturas Karnisovas,Billy Donovan,Windy City Bulls,https://www.facebook.com/chicagobulls,https://instagram.com/chicagobulls,https://twitter.com/chicagobulls
2,1610612742,DAL,Mavericks,1980.0,Dallas,American Airlines Center,19200.0,Mark Cuban,Nico Harrison,Jason Kidd,Texas Legends,https://www.facebook.com/dallasmavs,https://instagram.com/dallasmavs,https://twitter.com/dallasmavs
3,1610612743,DEN,Nuggets,1976.0,Denver,Ball Arena,NaN,Stan Kroenke,Calvin Booth,Michael Malone,Grand Rapids Gold,https://www.facebook.com/DenverNuggets,https://instagram.com/nuggets,https://twitter.com/nuggets
4,1610612744,GSW,Warriors,1946.0,Golden State,Chase Center,NaN,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors,https://www.facebook.com/warriors,https://instagram.com/warriors,https://twitter.com/warriors

In [22]:
df.shape

(25, 14)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   team_id             25 non-null     int64
 1   abbreviation        25 non-null     object
 2   nickname            25 non-null     object
 3   yearfounded         25 non-null     float64
 4   city                25 non-null     object
 5   arena               25 non-null     object
 6   arenacapacity       16 non-null     float64
 7   owner               25 non-null     object
 8   generalmanager      25 non-null     object
 9   headcoach           24 non-null     object
 10  dleagueaffiliation  25 non-null     object
 11  facebook            25 non-null     object
 12  instagram           25 non-null     object
 13  twitter             25 non-null     object
dtypes: float64(2), int64(1), object(11)
memory usage: 2.9+ KB

In [13]:
df.isnull().sum()

team_id               0
abbreviation          0
nickname              0
yearfounded           0
city                  0
arena                 0
arenacapacity         9
owner                 0
generalmanager        0
headcoach             1
dleagueaffiliation    0
facebook              0
instagram             0
twitter               0
dtype: int64

In [15]:
# Identificar columnas con valores nulos
null_columns = df.columns[df.isnull().any()]

# Mostrar las filas con valores nulos
null_data = df[df.isnull().any(axis=1)]

print("Columnas con valores nulos:")
print(null_columns)

print("\nFilas con valores nulos:")
print(null_data)

Columnas con valores nulos:
Index(['arenacapacity', 'headcoach'], dtype='object')

Filas con valores nulos:
       team_id abbreviation  nickname  yearfounded           city  \
3   1610612743          DEN   Nuggets       1976.0         Denver
4   1610612744          GSW  Warriors       1946.0   Golden State
11  1610612751          BKN      Nets       1976.0       Brooklyn
13  1610612755          PHI     76ers       1949.0   Philadelphia
14  1610612756          PHX      Suns       1968.0        Phoenix
18  1610612760          OKC   Thunder       1967.0  Oklahoma City
19  1610612761          TOR   Raptors       1995.0        Toronto
20  1610612762          UTA      Jazz       1974.0           Utah
23  1610612765          DET   Pistons       1948.0        Detroit

                   arena  arenacapacity                          owner  \
3             Ball Arena            NaN                   Stan Kroenke
4           Chase Center            NaN                      Joe Lacob
11       Barclays Center            NaN                       Joe Tsai
13    Wells Fargo Center            NaN  Joshua Harris & David Blitzer
14      Footprint Center            NaN                     Mat Ishbia
18         Paycom Center            NaN                   Clay Bennett
19      Scotiabank Arena            NaN             Lawrence Tanenbaum
20          Delta Center            NaN                     Ryan Smith
23  Little Caesars Arena            NaN                      Tom Gores

   generalmanager        headcoach    dleagueaffiliation  \
3    Calvin Booth   Michael Malone     Grand Rapids Gold
4       Bob Myers       Steve Kerr   Santa Cruz Warriors
11     Sean Marks    Jacque Vaughn      Long Island Nets
13    Elton Brand       Nick Nurse   Delaware Blue Coats
14    James Jones      Frank Vogel          No Affiliate
18     Sam Presti  Mark Daigneault    Oklahoma City Blue
19    Masai Ujiri              NaN           Raptors 905
20   Justin Zanik       Will Hardy  Salt Lake City Stars
23   Ed Stefanski   Monty Williams     Motor City Cruise

                                   facebook  \
3    https://www.facebook.com/DenverNuggets
4         https://www.facebook.com/warriors
11    https://www.facebook.com/BrooklynNets
13          https://www.facebook.com/Sixers
14            https://www.facebook.com/suns
18      https://www.facebook.com/OKCThunder
19  https://www.facebook.com/TorontoRaptors
20        https://www.facebook.com/utahjazz
23  https://www.facebook.com/detroitpistons

                               instagram                             twitter
3          https://instagram.com/nuggets         https://twitter.com/nuggets
4         https://instagram.com/warriors        https://twitter.com/warriors
11    https://instagram.com/brooklynnets    https://twitter.com/BrooklynNets
13          https://instagram.com/sixers          https://twitter.com/Sixers
14            https://instagram.com/suns            https://twitter.com/Suns
18      https://instagram.com/okcthunder      https://twitter.com/okcthunder
19         https://instagram.com/raptors         https://twitter.com/Raptors
20        https://instagram.com/utahjazz        https://twitter.com/utahjazz
23  https://instagram.com/detroitpistons  https://twitter.com/DetroitPistons

In [4]:
import pandas as pd

# Cargar el archivo CSV
df = pd.read_csv('team_details.csv')

# Imputar valores faltantes en la columna 'arenacapacity' con la media de las capacidades existentes
mean_capacity = df['arenacapacity'].mean()
df['arenacapacity'].fillna(round(mean_capacity, 1), inplace=True)

# Rellenar manualmente el valor faltante en la columna 'headcoach' para el equipo Toronto Raptors
df.loc[df['abbreviation'] == 'TOR', 'headcoach'] = 'Darko Rajaković'  # Ejemplo de nombre de entrenador

# Guardar el DataFrame modificado en un nuevo archivo CSV
df.to_csv('team_details_cleaned.csv', index=False)

# Cargar y mostrar el nuevo archivo CSV
df_cleaned = pd.read_csv('team_details_cleaned.csv')
print(df_cleaned)

       team_id abbreviation       nickname  yearfounded           city  \
0   1610612737          ATL          Hawks       1949.0        Atlanta
1   1610612741          CHI          Bulls       1966.0        Chicago
2   1610612742          DAL      Mavericks       1980.0         Dallas
3   1610612743          DEN        Nuggets       1976.0         Denver
4   1610612744          GSW       Warriors       1946.0   Golden State
5   1610612745          HOU        Rockets       1967.0        Houston
6   1610612746          LAC       Clippers       1970.0    Los Angeles
7   1610612747          LAL         Lakers       1948.0    Los Angeles
8   1610612748          MIA           Heat       1988.0          Miami
9   1610612749          MIL          Bucks       1968.0      Milwaukee
10  1610612750          MIN   Timberwolves       1989.0      Minnesota
11  1610612751          BKN           Nets       1976.0       Brooklyn
12  1610612754          IND         Pacers       1976.0        Indiana
13  1610612755          PHI          76ers       1949.0   Philadelphia
14  1610612756          PHX           Suns       1968.0        Phoenix
15  1610612757          POR  Trail Blazers       1970.0       Portland
16  1610612758          SAC          Kings       1948.0     Sacramento
17  1610612759          SAS          Spurs       1976.0    San Antonio
18  1610612760          OKC        Thunder       1967.0  Oklahoma City
19  1610612761          TOR        Raptors       1995.0        Toronto
20  1610612762          UTA           Jazz       1974.0           Utah
21  1610612763          MEM      Grizzlies       1995.0        Memphis
22  1610612764          WAS        Wizards       1961.0     Washington
23  1610612765          DET        Pistons       1948.0        Detroit
24  1610612766          CHA        Hornets       1988.0      Charlotte

                       arena  arenacapacity                          owner  \
0           State Farm Arena        18729.0                   Tony Ressler
1              United Center        21711.0              Michael Reinsdorf
2   American Airlines Center        19200.0                     Mark Cuban
3                 Ball Arena        19039.4                   Stan Kroenke
4               Chase Center        19039.4                      Joe Lacob
5              Toyota Center        18104.0                Tilman Fertitta
6           Crypto.com Arena        19060.0                  Steve Ballmer
7           Crypto.com Arena        19060.0                    Jeanie Buss
8              Kaseya Center        19600.0                   Micky Arison
9               Fiserv Forum        17500.0      Wesley Edens & Marc Lasry
10             Target Center        19356.0                    Glen Taylor
11           Barclays Center        19039.4                       Joe Tsai
12    Gainbridge Fieldhouse         18345.0                     Herb Simon
13        Wells Fargo Center        19039.4  Joshua Harris & David Blitzer
14          Footprint Center        19039.4                     Mat Ishbia
15               Moda Center        19980.0                     Jody Allen
16           Golden 1 Center        17500.0                 Vivek Ranadive
17               AT&T Center        18694.0                     Peter Holt
18             Paycom Center        19039.4                   Clay Bennett
19          Scotiabank Arena        19039.4             Lawrence Tanenbaum
20              Delta Center        19039.4                     Ryan Smith
21                FedExForum        18119.0                    Robert Pera
22         Capital One Arena        20647.0                    Ted Leonsis
23      Little Caesars Arena        19039.4                      Tom Gores
24           Spectrum Center        19026.0                 Michael Jordan

        generalmanager         headcoach                 dleagueaffiliation  \
0       Travis Schlenk       Quin Snyder              College Park Skyhawks
1   Arturas Karnisovas     Billy Donovan                   Windy City Bulls
2        Nico Harrison        Jason Kidd                      Texas Legends
3         Calvin Booth    Michael Malone                  Grand Rapids Gold
4            Bob Myers        Steve Kerr                Santa Cruz Warriors
5         Rafael Stone         Ime Udoka           Rio Grande Valley Vipers
6       Michael Winger        Tyronn Lue  Agua Caliente Clippers of Ontario
7          Rob Pelinka        Darvin Ham                   South Bay Lakers
8            Pat Riley    Erik Spoelstra               Sioux Falls Skyforce
9            Jon Horst    Adrian Griffin                     Wisconsin Herd
10        Tim Connelly       Chris Finch                        Iowa Wolves
11          Sean Marks     Jacque Vaughn                   Long Island Nets
12     Kevin Pritchard     Rick Carlisle                Fort Wayne Mad Ants
13         Elton Brand        Nick Nurse                Delaware Blue Coats
14         James Jones       Frank Vogel                       No Affiliate
15          Joe Cronin  Chauncey Billups                       No Affiliate
16        Monte McNair        Mike Brown                     Stockton Kings
17        Brian Wright    Gregg Popovich                       Austin Spurs
18          Sam Presti   Mark Daigneault                 Oklahoma City Blue
19         Masai Ujiri   Darko Rajaković                        Raptors 905
20        Justin Zanik        Will Hardy               Salt Lake City Stars
21        Zach Kleiman    Taylor Jenkins                     Memphis Hustle
22      Tommy Sheppard        Wes Unseld                 Capital City Go-Go
23        Ed Stefanski    Monty Williams                  Motor City Cruise
24       Mitch Kupchak    Steve Clifford                   Greensboro Swarm

                                     facebook  \
0              https://www.facebook.com/hawks
1       https://www.facebook.com/chicagobulls
2         https://www.facebook.com/dallasmavs
3      https://www.facebook.com/DenverNuggets
4           https://www.facebook.com/warriors
5     https://www.facebook.com/houstonrockets
6         https://www.facebook.com/LAClippers
7   https://www.facebook.com/losangeleslakers
8          https://www.facebook.com/MiamiHeat
9     https://www.facebook.com/milwaukeebucks
10    https://www.facebook.com/MNTimberwolves
11      https://www.facebook.com/BrooklynNets
12            https://www.facebook.com/pacers
13            https://www.facebook.com/Sixers
14              https://www.facebook.com/suns
15      https://www.facebook.com/trailblazers
16   https://www.facebook.com/sacramentokings
17             https://www.facebook.com/Spurs
18        https://www.facebook.com/OKCThunder
19    https://www.facebook.com/TorontoRaptors
20          https://www.facebook.com/utahjazz
21  https://www.facebook.com/MemphisGrizzlies
22           https://www.facebook.com/Wizards
23    https://www.facebook.com/detroitpistons
24           https://www.facebook.com/hornets

                                instagram                              twitter
0          https://instagram.com/atlhawks         https://twitter.com/ATLHawks
1      https://instagram.com/chicagobulls     https://twitter.com/chicagobulls
2        https://instagram.com/dallasmavs       https://twitter.com/dallasmavs
3           https://instagram.com/nuggets          https://twitter.com/nuggets
4          https://instagram.com/warriors         https://twitter.com/warriors
5    https://instagram.com/houstonrockets   https://twitter.com/HoustonRockets
6        https://instagram.com/laclippers       https://twitter.com/LAClippers
7            https://instagram.com/lakers           https://twitter.com/Lakers
8         https://instagram.com/miamiheat        https://twitter.com/MiamiHEAT
9             https://instagram.com/bucks            https://twitter.com/Bucks
10     https://instagram.com/timberwolves     https://twitter.com/Timberwolves
11     https://instagram.com/brooklynnets     https://twitter.com/BrooklynNets
12           https://instagram.com/pacers           https://twitter.com/Pacers
13           https://instagram.com/sixers           https://twitter.com/Sixers
14             https://instagram.com/suns             https://twitter.com/Suns
15     https://instagram.com/trailblazers     https://twitter.com/trailblazers
16  https://instagram.com/sacramentokings  https://twitter.com/SacramentoKings
17            https://instagram.com/spurs            https://twitter.com/spurs
18       https://instagram.com/okcthunder       https://twitter.com/okcthunder
19          https://instagram.com/raptors          https://twitter.com/Raptors
20         https://instagram.com/utahjazz         https://twitter.com/utahjazz
21         https://instagram.com/memgrizz         https://twitter.com/memgrizz
22      https://instagram.com/washwizards      https://twitter.com/WashWizards
23   https://instagram.com/detroitpistons   https://twitter.com/DetroitPistons
24          https://instagram.com/hornets          https://twitter.com/hornets

In [30]:
df_cleaned.head()

,team_id,abbreviation,nickname,yearfounded,city,arena,arenacapacity,owner,generalmanager,headcoach,dleagueaffiliation,facebook,instagram,twitter
0,1610612737,ATL,Hawks,1949.0,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Quin Snyder,College Park Skyhawks,https://www.facebook.com/hawks,https://instagram.com/atlhawks,https://twitter.com/ATLHawks
1,1610612741,CHI,Bulls,1966.0,Chicago,United Center,21711.0,Michael Reinsdorf,Arturas Karnisovas,Billy Donovan,Windy City Bulls,https://www.facebook.com/chicagobulls,https://instagram.com/chicagobulls,https://twitter.com/chicagobulls
2,1610612742,DAL,Mavericks,1980.0,Dallas,American Airlines Center,19200.0,Mark Cuban,Nico Harrison,Jason Kidd,Texas Legends,https://www.facebook.com/dallasmavs,https://instagram.com/dallasmavs,https://twitter.com/dallasmavs
3,1610612743,DEN,Nuggets,1976.0,Denver,Ball Arena,19039.4,Stan Kroenke,Calvin Booth,Michael Malone,Grand Rapids Gold,https://www.facebook.com/DenverNuggets,https://instagram.com/nuggets,https://twitter.com/nuggets
4,1610612744,GSW,Warriors,1946.0,Golden State,Chase Center,19039.4,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors,https://www.facebook.com/warriors,https://instagram.com/warriors,https://twitter.com/warriors

In [31]:
df_cleaned.to_csv('team_details_optimizada.csv', index=False)

In [23]:
# Cargar el archivo CSV
data= pd.read_csv('team_history.csv')
data.head()

      team_id        city    nickname  year_founded  year_active_till
0  1610612737     Atlanta       Hawks          1968              2019
1  1610612737   St. Louis       Hawks          1955              1967
2  1610612737   Milwaukee       Hawks          1951              1954
3  1610612737  Tri-Cities  Blackhawks          1949              1950
4  1610612741     Chicago       Bulls          1966              2019

In [24]:
data.shape

(52, 5)

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   team_id           52 non-null     int64
 1   city              52 non-null     object
 2   nickname          52 non-null     object
 3   year_founded      52 non-null     int64
 4   year_active_till  52 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.2+ KB

In [25]:
# Cargar el archivo CSV
data = pd.read_csv('team_history.csv')

# Verificar si hay valores nulos
null_values = df.isnull().sum()

# Mostrar los resultados
print(null_values)

team_id               0
abbreviation          0
nickname              0
yearfounded           0
city                  0
arena                 0
arenacapacity         0
owner                 0
generalmanager        0
headcoach             0
dleagueaffiliation    0
facebook              0
instagram             0
twitter               0
dtype: int64

In [27]:
# Cargar el archivo CSV
data = pd.read_csv('team_history.csv')

# Verificar los tipos de datos
print("Tipos de datos de cada columna:")
print(data.dtypes)
print("\n")

# Verificar valores únicos en cada columna
for column in data.columns:
    print(f"Valores únicos en la columna {column}:")
    print(data[column].unique())
    print("\n")

# Verificar si hay valores nulos
null_values = data.isnull().sum()
print("Valores nulos en cada columna:")
print(null_values)
print("\n")

# Verificar si hay duplicados
duplicates = data.duplicated().sum()
print(f"Número de filas duplicadas: {duplicates}")

Tipos de datos de cada columna:
team_id              int64
city                object
nickname            object
year_founded         int64
year_active_till     int64
dtype: object


Valores únicos en la columna team_id:
[1610612737 1610612741 1610612742 1610612743 1610612744 1610612745
 1610612746 1610612747 1610612748 1610612749 1610612750 1610612751
 1610612754 1610612755 1610612756 1610612757 1610612758 1610612759
 1610612760 1610612761 1610612762 1610612763 1610612764 1610612765
 1610612766]


Valores únicos en la columna city:
['Atlanta' 'St. Louis' 'Milwaukee' 'Tri-Cities' 'Chicago' 'Dallas'
 'Denver' 'Golden State' 'San Francisco' 'Philadelphia' 'Houston'
 'San Diego' 'Los Angeles' 'Buffalo' 'Minneapolis' 'Miami' 'Minnesota'
 'Brooklyn' 'New Jersey' 'New York' 'Indiana' 'Syracuse' 'Phoenix'
 'Portland' 'Sacramento' 'Kansas City' 'Kansas City-Omaha' 'Cincinnati'
 'Rochester' 'San Antonio' 'Oklahoma City' 'Seattle' 'Toronto' 'Utah'
 'New Orleans' 'Memphis' 'Vancouver' 'Washington' 'Capital' 'Baltimore'
 'Detroit' 'Ft. Wayne Zollner' 'Charlotte']


Valores únicos en la columna nickname:
['Hawks' 'Blackhawks' 'Bulls' 'Mavericks' 'Nuggets' 'Warriors' 'Rockets'
 'Clippers' 'Braves' 'Lakers' 'Heat' 'Bucks' 'Timberwolves' 'Nets'
 'Pacers' '76ers' 'Nationals' 'Suns' 'Trail Blazers' 'Kings' 'Royals'
 'Spurs' 'Thunder' 'SuperSonics' 'Raptors' 'Jazz' 'Grizzlies' 'Wizards'
 'Bullets' 'Zephyrs' 'Packers' 'Pistons' 'Hornets' 'Bobcats']


Valores únicos en la columna year_founded:
[1968 1955 1951 1949 1966 1980 1976 1971 1962 1946 1967 1984 1978 1970
 1960 1948 1988 1989 2012 1977 1963 1985 1975 1972 1957 2008 1995 1979
 1974 2001 1997 1973 1961 2014 2004]


Valores únicos en la columna year_active_till:
[2019 1967 1954 1950 1970 1961 1983 1977 1959 2011 1976 1962 1984 1974
 1971 1956 2007 1978 2000 1996 1973 1972 2013 2001]


Valores nulos en cada columna:
team_id             0
city                0
nickname            0
year_founded        0
year_active_till    0
dtype: int64


Número de filas duplicadas: 0